.root{
	-fx-background-image: url("picture.png");
}
	
.text-area{
	-fx-font-family: Calibri;
	-fx-font-size: 22;
	-fx-text-fill: #012833;
}

.text-area .content{
    -fx-background-color: 
    linear-gradient(to right,
    #845ec2, #806ecc, #7e7cd4, 
    #7d8adb, #7f97e1, #6f9de1, 
    #60a2de, #56a6da, #32a3ca, 
    #0e9eb7, #0599a1, #20928a
    );
}

.text-field {
	-fx-font-family: Calibri;
	-fx-font-size: 22;
	-fx-text-fill: #012833;
	-fx-background-color: #86A8E7;
}
