.root{
	-fx-background-color: #285B90;
	}
	
.text-area{
	-fx-font-family: Calibri;
	-fx-font-size: 22;
	-fx-text-fill: #90C5FD;
}

.text-area .content{
    -fx-background-color: #0D2F53;
}

.text-field {
	-fx-font-family: Calibri;
	-fx-font-size: 22;
	-fx-text-fill: #90C5FD;
	-fx-background-color: #0D2F53;
}
